<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About <small>Subheading</small></h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">About</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="about module">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-6">
        <h2>About Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Module Heading</h2>
      </div>
    </div>
  </div>
</div>

<div class="portfolio module">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
      <div class="col-md-4">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Module Heading</h2>
      </div>
    </div>
  </div>
</div>

<div class="features module">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit:</p>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-md-6">
        <img src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" class="img-fluid img-portfolio" alt="Responsive image"/>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action module">
  <div class="container">
    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn bg-inverse btn-block" href="#">Call to Action</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, about!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
-->