<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Services <small>Subheading</small></h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">Services</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="services module">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="https://placeholdit.imgix.net/~text?w=1200&h=300" class="img-fluid" alt="Responsive image"/>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Services Panels</h2>
      </div>
    </div>
  </div>
</div>

<div class="services module">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn bg-inverse">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn bg-inverse">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://dv9vy7p6qfoa3.cloudfront.net/asset/cms/pic1-1.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn bg-inverse">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Services Tabs</h2>
      </div>
    </div>
  </div>
</div>

<div class="servicesTabs module">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab">Service One</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#tab-2" role="tab">Service Two</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#tab-3" role="tab">Service Three</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#tab-4" role="tab">Service Four</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab-1" role="tabpanel">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2" role="tabpanel">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3" role="tabpanel">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4" role="tabpanel">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Services List</h2>
      </div>
    </div>
  </div>
</div>

<div class="servicesList module">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>